*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    background-image: url("https://i.postimg.cc/zfTg3xCR/desert.jpg");
    background-size: cover;
    background-repeat:none ;
    opacity: 100%;
}

.container-fluid{
    background-color: rgba(0, 0, 0, 0.608);
    color: white;
    width: 50%;
    margin-top: 10%;
    border-radius:20px ;
}

h1{
    text-align: center;
}

label{
    font-size: 20px;
}

input{
    padding: 10px;
    width: 100%;
}
button{
    padding: 10px;
    margin-left: 10px;
    color: white;
    font-weight: 900;
    background-color: black;
    border: 1px solid black;
}
 .btn {
    background-color: none;
 }

 .btn i{
    font-weight: 900;
    color: white;
 }

 